<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Admin</title>
    <link rel="stylesheet" th:href="@{/css/simple-datatables-10.css}" href="/css/simple-datatables-10.css"
        type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administración</h1>
        </div>
        <div class="container">
            <h1 class="mt-5">Usuarios</h1>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre & Apellidos</th>
                        <th>Roles</th>
                        <th>Grupos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">1</td>
                        <td th:text="${user.username}">paco</td>
                        <td th:text="${user.firstName + ' ' + user.lastName}">Nombre</td>
                        <td>
                            <ul>
                                <li th:text="${user.roles}">Role</li>
                            </ul>
                        </td>
                        <td>
                          <ul>
                              <li th:text="${user.groups}">Role</li>
                          </ul>
                      </td>
                      <td>
                            <form th:action="@{'/admin/toggle/' + ${user.id}}" th:method="post">
                                <button th:if="${user.enabled}" type="submit"
                                    class="toggle btn btn-danger">Deshabilitar</button>
                                <button th:unless="${user.enabled}" type="submit"
                                    class="toggle btn btn-primary">Habilitar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container">

            <h2>Últimos 5 mensajes del sistema</h2>
            <table id="messages"></table> <!-- will be filled with JSON data-->
            <button id="refresh" class="btn btn-primary">Actualizar vía AJAX</button>

        </div>

    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
    <script>
        const toggles = document.querySelectorAll('.toggle');
        toggles.forEach(toggle => {
            toggle.addEventListener('click', (e) => {
                e.preventDefault();
                const form = e.target.parentElement;
                go(form.action, 'POST').then((d) => {
                    if (d.enabled) {
                        e.target.classList.remove('btn-primary');
                        e.target.classList.add('btn-danger');
                        e.target.textContent = 'Deshabilitar';
                    } else {
                        e.target.classList.remove('btn-danger');
                        e.target.classList.add('btn-primary');
                        e.target.textContent = 'Habilitar';
                    }
                    console.log(d);
                });
            });
        });


    </script>

    <script type="module">
        import { DataTable } from "../js/simple-datatables-10.js"
        let dt = null;
        function refreshMessages() {
            go('/admin/all-messages', 'GET').then((d) => {
                if (dt) {
                    dt.destroy();
                    document.querySelector("#messages").innerHTML = '';
                }
                dt = new DataTable('#messages', {
                    data: {
                        headings: ['from', 'to', 'text'],
                        data: d
                    },
                    searchable: true,
                    paging: false
                });
                dt.on("datatable.selectrow", (rowIndex, event, focused) => {
                    event.preventDefault();
                    console.log("click en fila: ", dataTable.data[rowIndex]);
                });
            });
        }
        document.getElementById('refresh').addEventListener('click', refreshMessages);
        refreshMessages();
    </script>
</body>

</html>