<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head :: header"/>
	<title>RPC - Profesor</title>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
	<div class="main">
		
	<h1>
		Vista de clases
	</h1>

	<form th:action="@{/class}" method="POST" enctype="multipart/form-data">
		Fichero de clase <input type="file" name="classfile"/>
		<button type="submit">Crear clase</button>
	</form>
		
	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>
	
	</div>
	</div>
</body>
</html>
