<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head :: header"/>
	<title>RPC - Profesor</title>
	<style>
		.classBox {
			float: left; 
			width: 300px; 
			height: 800px;
			padding: 5px;
			border: 1px solid #aaaaaa;
			vertical-align: middle;
		}
	</style>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div style="height:100%;" class="container">
	<div class="main">

		<nav>

			<h1 style="margin-left:25px;margin-right:25px;">Mis pruebas</h1>
	
		</nav>

		<div class="container">

			<div style="flex:none" class="scroll">		
				<form style="margin:5px" th:if="${contestList}" th:each="c: ${contestList}" 
						th:action="@{/admin/{id}/contest/{contestId}(id=${session.u.id},contestId=${c.id})}">
					<button type="submit" th:text="${c.stClass.name} + ' - ' + ${c.name}">Concurso</button>
  				</form>					
			</div>

			<div th:if=${contest} style="flex:none" class="scroll">
				<h2 style="text-align:center;" th:text="${contest.name}"></h2>

				<div class="contestBox" th:each="q: ${contest.questions}">
					<p th:text="${q.text}"></p>
					<table th:unless="${q.answers == null}">
						<tr  th:each="a: ${q.answers}">
							<td th:text="${a.text}"></td>
							<td>&rarr;</td>
							<td th:text="${a.score}"></th>
						</tr>
					</table>
				</div>

			</div>			

		</div>
		
	</div>
	</div>

	<script type="text/javascript">

	</script>
</body>
</html>
