<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head :: header"/>
	<title>RPC - Profesor</title>
	<style>
		.classBox {
			float: left; 
			width: 300px; 
			height: 800px;
			padding: 5px;
			border: 1px solid #aaaaaa;
			vertical-align: middle;
		}
		table, tr, td {
			border: 1px solid black;
			padding: 7px;
		}
	</style>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div style="height:100%;" class="container">
	<div class="main">

		<nav>

			<h1 style="margin-left:25px;margin-right:25px;">Mis pruebas</h1>
	
		</nav>

		<div class="container">

			<div style="flex:0 1 auto;" class="scroll">		
				<form style="margin:5px" th:if="${contestList}" th:each="c: ${contestList}" 
						th:action="@{/admin/{id}/contest/{contestId}(id=${session.u.id},contestId=${c.id})}">
					<button type="submit" th:text="${c.stClass.name} + ' - ' + ${c.name}">Concurso</button>
  				</form>					
			</div>

			<div th:if=${contest} style="flex:0 1 auto;text-align:center;" class="scroll">
				<h2 style="text-align:center;" th:text="${contest.name}"></h2>

				<div thi:if="${contest.questions}" th:each="q: ${contest.questions}">
					<p th:text="${q.text}"></p>
					<table style="margin:10px;" align="center" th:if="${q.answers}">
						<tr th:each="a: ${q.answers}" th:if="${a.text} != 'Sin responder'">
							<td th:text="${a.text}"></td>
							<td>&rarr;</td>
							<td th:text="${a.score}"></th>
						</tr>
					</table>			
				</div>

			</div>	

			<div th:if=${contest} style="display:flex;flex-direction:column;flex:1;text-align:center;padding:0px" class="scroll" >	
				<div align="left" style="display:block">

					<nav th:if="${contest.complete}">
						<h3 th:text="'Estado: TERMINADO'"></h3>
					</nav>
					<nav th:unless="${contest.complete}">
						<h3 th:text="${contest.enabled} == 1 ? 'Estado: ACTIVO' : 'Estado: INACTIVO'"></h3>

						<form style="margin:5px" method="POST" th:action="@{/admin/{id}/contest/{contestId}/toggleContest(id=${session.u.id},contestId=${contest.id})}">
							<button type="submit">Activar/ desactivar</button>
		  				</form>	
					</nav>
					<nav th:unless="${contest.complete}" class="container">
						<h3 th:text="${resultList.size()} + '/' + ${students.size()} + ' estudiantes han participado'"></h3>

						<form style="margin:5px" method="POST" th:action="@{/admin/{id}/contest/{contestId}/completeContest(id=${session.u.id},contestId=${contest.id})}">
							<button type="submit">Terminar concurso</button>
		  				</form>	
					</nav>		

				</div>	
				<div class="container">
					<div class="scroll" style="padding: 0px">
						<table style="margin: 15px">
							<tr style="background-color:lightgray;">
								<td> Usuario </td>
								<td th:each="i: ${#numbers.sequence(0, contest.questions.size()-1)}" th:text="'P' + ${i+1}"> Usuario </td>
								<td> Puntuación </td>
								<td> Resultado </td>
							</tr>
							<tr th:each="r: ${resultList}">
								<td th:text="${r.user.firstName + ' ' + r.user.lastName}"></td>
								<td th:each="a: ${r.answers}" th:text="${a.score}"></td>
								<td th:text="${r.score}"></td>
								<td th:if="${r.passed} AND !${r.perfect}" th:text="'SUPERADO'"></td>
								<td th:if="${r.passed} AND ${r.perfect}" th:text="'PERFECTO'"></td>
								<td th:unless="${r.passed}" th:text="'FALLIDO'"></td>
							</tr>
						</table>
					</div>
				</div>	
				<div class="scroll" style="padding:0px">
					<div class="container">
						<div th:if="${stats}" th:each="s, iStatS : ${stats}" th:id="'g' + ${iStatS.index}"></div>
					</div>
				</div>					
			</div>		

		</div>
		
	</div>
	</div>
		
	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>

	<script th:inline="javascript">

		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawGraphs);


		function drawGraphs() {
			/*<![CDATA[*/
			var i;
			var j;
			var statList = /*[[${stats}]]*/
			var questionStats;
			var answerStats;
			var answer;
			var chartData;
			var data;
			var options;
			var chart;

			for(i=0; i < statList.length; i++) {
				chartData = [];
				chartData.push(["Respuesta", "Estudiantes"]);
				questionStats = statList[i].split("|");
				answerStats = questionStats[1].split(",");

				for(j=0; j < answerStats.length; j++) {
					answer = answerStats[j].split("-->");
					chartData.push([answer[0], parseInt(answer[1])]);
				}

				console.log(chartData);

				data = google.visualization.arrayToDataTable(chartData);
				options = {'title':questionStats[0],'sliceVisibilityThreshold':0};
				chart = new google.visualization.PieChart(document.getElementById('g' + i));
				chart.draw(data, options);
			}
			/*]]>*/
		}
	</script>
</body>
</html>
