<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Rythmix · Continúa la canción</title>
</head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/nav.html :: nav}"></header>

<main class="flex-shrink-0">
    <div class="container my-5 text-center">

        <h1 class="mb-4">▶️ Continúa la canción</h1>

        <p class="text-muted fs-5">
            En esta página estará la pantalla de juego del juego de continúa la canción, contendrá una sección con la parte existente
            de la cación, y una sección de edición donde el jugador puede componer su propuesta de continuación para la 
            canción
        </p>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  Jugadores
</button>


    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Jugadores</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <button id="inviteButton" class="btn btn-primary">Invitar jugador</button>
    <div class="mt-3">
        
      <ul id="playerList">
        <li>Jugador1</li>
      </ul>
      
    </div>
  </div>
</div>
</main>

<th:block th:replace="~{fragments/footer.html :: footer}" />
</body>
<script>
    let n = 1
    document.querySelector("#inviteButton").addEventListener("click", e=>{
        document.querySelector("#playerList").insertAdjacentHTML("beforeend", `<li>Jugador${n+1}</li>`)
        n+=1
    })
</script>

</html>
