<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title th:text="|IW: Error ${status}|">IW: Error</title>
</head>

<body>
    <nav th:replace="~{fragments/nav.html :: nav}">
        Nav goes here
    </nav>

    <div class="container">
        <div class="main">

            <h4>Error <span th:text="${status}"></span></h4>

            <div th:unless="${application.debug}">
                <img th:src="|https://http.cat/${status}|" alt="gato ilustrando problema" />
                <p>Los administradores están informados. Puedes volver a intentar hacer lo que estabas haciendo de otra forma, o esperar a que solucionen el problema.</p>
            </div>
            <div th:if="${application.debug}">
                <p>Ha pasado algo feo. Mira el log del servidor para saber más detalles.</p>

                <h4>Detalles del error</h4>
                <table class="errTable">
                    <tr>
                        <td>Date</td>
                        <td th:text="${timestamp}"></td>
                    </tr>
                    <tr>
                        <td>Path</td>
                        <td th:text="${path}"></td>
                    </tr>
                    <tr>
                        <td>Error</td>
                        <td th:text="${error}"></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td th:text="${status}"></td>
                    </tr>
                    <tr>
                        <td>Mensaje</td>
                        <td th:text="${message}"></td>
                    </tr>
                    <tr>
                        <td>Excepción</td>
                        <td th:text="${exception}"></td>
                    </tr>
                    <tr>
                        <td>Traza</td>
                        <td><pre th:text="${trace}" /></td>
                    </tr>
                </table>

                <h4>Variables definidas en sesión</h4>
                <table class="errTable">
                    <tr th:each="v: ${sess}">
                        <td><span class="errKey" th:text="${v.key}"></span>
                            <td th:text="${v.value}">
                </table>

                <h4>Variables definidas en parámetros</h4>
                <table class="errTable">
                    <tr th:each="v: ${param}">
                        <td th:text="${v.key}"></td>
                        <td>
                            <div th:each="v: ${v.value}">
                                <div th:text="${v}"></div>
                            </div>
                        </td>
                    </tr>
                </table>

                <h4>Otras</h4>
                <table class="errTable">
                    <tr>
                        <td>req.url</td>
                        <td th:text="${req.requestURL}"></td>
                    </tr>
                    <tr>
                        <td>req.uri</td>
                        <td th:text="${req.requestURI}">
                        </td>
                    </tr>
                    <tr>
                        <td>req.getHeader("User-Agent")</td>
                        <td th:text="${req.getHeader('User-Agent')}"></td>
                    </tr>
                </table>

            </div>

        </div>
        <!-- end main div -->
    </div>
    <!-- end container div -->

    <footer th:replace="~{fragments/footer.html :: footer}">
        Footer goes here
    </footer>
</body>

</html>