<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Rythmix · Adivina la canción</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container my-5">

            <h1 class="text-center mb-4">Adivina la canción</h1>

            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title fs-3">Información de la canción</h2>
                    <p class="card-text text-center">
                        Por ejemplo: artista, duración, género o año de publicación
                    </p>
                </div>
            </div>

            <div class="card mb-3 shadow-sm">
                <div class="card-body">

                    <h2 class="mb-2 text-center fs-5">
                        Se mostrarán una serie de instrumentos a tocar de la canción
                    </h2>

                    <div class="row mb-2 text-center">
                        <div class="col">
                            <strong>Instrumento 1</strong>
                        </div>
                    </div>

                    <div class="row mb-2 text-center">
                        <div class="col">
                            <strong >Instrumento 2</strong>
                        </div>
                    </div>

                    <div class="row mb-2 text-center">
                        <div class="col">
                            <strong>Instrumento 3</strong>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col">
                            <strong>. . .</strong>
                        </div>
                    </div>

                </div>
            </div>

            <div class="d-flex justify-content-center gap-5 mb-3">
                <button type="button" class="btn btn-outline-info ">
                    Ir hacia atrás
                </button>

                <button type="button" class="btn btn-primary">
                    Reproducir canción
                </button>

                <button type="button" class="btn btn-outline-info">
                    Ir hacia adelante
                </button>
            </div>

            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title mb-3 fs-3">Selecciona la canción</h2>

                    <div class="text-center">
                        <p> Aqui irá un buscador de las posibles canciones a seleccionar para adivinar la canción actual</p>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>
