<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head :: header"/>
	<title>RPC: Role Playing Class</title>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
	<div class="main">
	
		<div class="container">
			<div class="home_box">
				
				<h3>¡Que empiece el desafío!</h3>

				<h3>¡Profesores! Es el momento de plantear un reto a los alumnos. Cread vuestras pruebas y comprobad si el estudio está dando sus frutos.</h3>

				<h3>¡Estudiantes! Unios a vuestros compañeros e intentad llevar a vuestro equipo hasta lo más alto de la clasificación. El esfuerzo de cada miembro cuenta y juntos conseguireis la victoria.</h3>

				<h3>RPC es una plataforma para gamificación del aula en la que los profesores podrán organizar pruebas en las que sus alumnos participarán por equipos para intentar alcanzar el puesto más alto del ranking y desbloquear múltiples logros, tanto individuales como conjuntos.</h3>
			</div>

			<div class="teamwork"></div>
		</div>
	
	</div>
	</div>
		
	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>
</body>
</html>
