<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Login</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="post" th:action="@{/login}">
                <h2 class="form-signin-heading">Please sign in</h2>
                <p th:if="${loginError != false}" class="error">
                    Error en nombre de usuario o contraseña
                </p>
                <p>
                    <label for="username" class="visually-hidden">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="required">
                </p>
                <p>
                    <label for="password" class="visually-hidden">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>