<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head :: header"/>
	<title>RPC</title>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
	<div class="main">

		<nav>

			<h1 style="margin-left:25px;margin-right:25px;">Selecciona una prueba para resolver:</h1>
	
		</nav>

		<div class="container">

			<div style="flex:0 1 auto" class="scroll">	
				<form th:if="${contestList} AND ${session.u.hasRole('ADMIN')}" th:each="c: ${contestList}" 
						th:action="@{/admin/{id}/play/{contestId}(id=${session.u.id},contestId=${c.id})}">
					<button style="margin:5px;" type="submit" th:text="${c.stClass.name} + ' - ' + ${c.name}">Mis clases</button>
  				</form>	
				<form th:if="${contestList} AND ${session.u.hasRole('USER')}" th:each="c: ${contestList}" 
						th:action="@{/user/{id}/play/{classId}/{contestId}(id=${session.u.id},classId=${stClass.id},contestId=${c.id})}">
					<button style="margin:5px;" type="submit" th:text="${c.stClass.name} + ' - ' + ${c.name}">Mis clases</button>
  				</form>		
			</div>

			<div style="flex:1" class="scroll">
				<form th:if="${contest} AND ${session.u.hasRole('ADMIN')}"  method="POST" 
					th:action="@{/admin/{id}/play/{contestId}/results(id=${session.u.id},contestId=${contest.id})}">
					<div>
						<h3 style="text-align:center;" th:text="${contest.name}"></h3>

						<div th:each="q, iStatQ : ${contest.questions}" class="questionContainer">
							<p th:text="${iStatQ.index + 1} + '  -  ' + ${q.text}"></p>
							<table style="margin:10px;" th:if="${q.answers}">
								<tr th:each="a, iStatA : ${q.answers}" th:if="${a.text} != 'Sin responder'">
									<td th:text="${iStatA.index} + '  -  ' + ${a.text}"></td>
								</tr>
							</table>
							<div th:unless="${result}">
								<label style="margin-right: 5px;">Respuesta:</label>
								<select class="answer">
									<option th:each="a, iStatA : ${q.answers}" th:value="${iStatA.index}" th:text="${a.text}">Opcion</option>
								</select>									
							</div>				
						</div>

						<input type="hidden" name="results" id="results"/>
						<button th:unless="${result}" style="margin-top: 5px;" onclick="setAnswers()" type="submit">Terminar</button>
					
					</div>
				</form>

				<form th:if="${contest} AND ${stClass} AND ${session.u.hasRole('USER')}"  method="POST" 
					th:action="@{/user/{id}/play/{classId}/{contestId}/results(id=${session.u.id},classId=${stClass.id},contestId=${contest.id})}">
					<div>
						<h3 style="text-align:center;" th:text="${contest.name}"></h3>

						<div th:each="q, iStatQ : ${contest.questions}" class="questionContainer">
							<p th:text="${iStatQ.index + 1} + '  -  ' + ${q.text}"></p>
							<table style="margin:10px;" th:if="${q.answers}">
								<tr th:each="a, iStatA : ${q.answers}" th:if="${a.text} != 'Sin responder'">
									<td th:text="${iStatA.index} + '  -  ' + ${a.text}"></td>
								</tr>
							</table>
							<div th:unless="${result}">
								<label style="margin-right: 5px;">Respuesta:</label>
								<select class="answer">
									<option th:each="a, iStatA : ${q.answers}" th:value="${iStatA.index}" th:text="${a.text}">Opcion</option>
								</select>									
							</div>				
						</div>

						<input type="hidden" name="results" id="results"/>
						<button th:unless="${result}" style="margin-top: 5px;" onclick="setAnswers()" type="submit">Terminar</button>
					
					</div>
				</form>
			</div>	

			<div th:if="${result} AND ${contest}" style="flex:1" class="scroll">
				<h3 th:text="'Puntuación: ' + ${result.score}"></h3>
				<h3 th:text="'Correctas: ' + ${result.correct} + ' / ' + ${contest.questions.size()}"></h3>
				<h3 th:if="${result.perfect}" th:text="'ENHORABUENA. PUNTUACIÓN PERFECTA'"></h3>
				<h3 th:text="${result.passed} ? 'Superada: SI' : 'Superada: NO'"></h3>	

				<table>
					<tr>
						<td><h3 style="padding-right:15px" th:text="'Tu respuesta'"></h3></td>
						<td><h3 style="padding-right:15px" th:text="'Solución'"></h3></td>
						<td><h3 style="padding-right:15px" th:text="'Corrección'"></h3></td>
						<td><h3 style="padding-right:15px" th:text="'Puntuación'"></h3></td>
					</tr>
					<tr>
						<td>
							<table>
								<tr th:each="a : ${result.answers}">
									<td th:text="${a.text}"></td>
								</tr>									
							</table>
						</td>
						<td>
							<table>
								<tr th:each="q : ${contest.questions}">
									<td th:each="a : ${q.answers}" th:if="${a.score == 1}" th:text="${a.text}"></td>
								</tr>									
							</table>
						</td>
						<td>
							<table>
								<tr th:each="a : ${result.answers}">
									<td th:if="${a.score >= 1}">&#9989;</td>
									<td th:if="${a.score <= 0}">&#10060;</td>
									<td th:unless="${a.score >= 1} OR ${a.score <= 0}">&#10134;</td>
								</tr>									
							</table>
						</td>
						<td>
							<table>
								<tr th:each="a : ${result.answers}">
									<td th:text="${a.score}"></td>
								</tr>									
							</table>
						</td>
					</tr>
				</table>
					
				</div>
				
			</div>

		</div>
		
	</div>
	</div>
		
	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>

	<script type="text/javascript">

		function getAnswers() {

			var question = document.getElementsByClassName('questionContainer');
			var solution;
			var answer;
			var answerList = [];
			var i;

			for (i = 0; i < question.length; i++) {
				solution = question[i].getElementsByClassName('answer')[0];
				answer = solution.options[solution.selectedIndex].value;
				answerList.push(answer);
			} 

			return answerList;
		}

		function setAnswers() {
			document.getElementById("results").value = getAnswers();
		}

	</script>
</body>
</html>
