<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head :: header"/>
	<title>RPC - Profesor</title>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
	<div class="main">
		
	<p>
	Vista de juego
	</p>
		
	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>
	
	</div>
	</div>
</body>
</html>
