<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head :: header"/>
	<title>RPC - Estudiante</title>
	<style>
	</style>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
	<div class="main">		
		
		<nav>

			<h1 style="margin-left:25px;margin-right:25px;" th:text="${'Bienvenid@ ' + user.username}"></h1>

			<img height="72" width="72" th:src="@{/user/{id}/photo(id=${user.id})}">

			<form th:action="@{/user/{id}/photo(id=${user.id})}" method="POST" enctype="multipart/form-data">
				Nueva foto <input type="file" name="photo"/>
				<button type="submit">Actualizar</button>
			</form>
	
		</nav>

		<div th:if="(${session.u.id} eq ${user.id}) or ${user.hasRole('ADMIN')}" class="container" style="display: flex;height: 100%;">

			<div style="width:30%;"> 

				<h2>Cambiar información de usuario</h2>

				<form id="usermod" class="smallform" th:action="@{/user/{id}(id=${user.id})}" method="POST">		

					<label for="username">Usuario</label>
					<input name="username" id="username" required placeholder="username" th:value="${user.username}"/>
					
					<label for="password">Contraseña</label>
					<input type="password" id="password" required name="password" placeholder="Contraseña"/>
					<label for="pass2">(repetida)</label>
					<input type="password" id="pass2" required name="pass2" placeholder="Confirmación"/>

					<button style="margin-top: 5px;" type="submit">Modificar</button>

				</form>
			</div>

			<div style="width:70%;"> 

				<h2 style="margin-bottom: :10px">Logros</h2>

				<div class="scroll" th:if="${achievements}">
					<div th:each="a: ${achievements}">
						<span style="display: block;" th:text="'Objetivo: ' + ${a.currentObjective()}">Objetivo</span>
						<span style="display: block;" th:text="'Nivel: ' + ${a.level}">Nivel</span>
						<span style="display: block;" th:text="'Progreso: ' + ${a.progress} + '/' + ${a.currentLevel()}">Progreso</span>
					</div>
				</div>

			</div>

		</div>
	
		<footer th:replace="fragments/footer.html :: footer">
			Footer goes here
		</footer>

	</div>
	</div>
	
<script>
	// esto es algo feo, y se podría sacar a un JS externo
	document.addEventListener("DOMContentLoaded", () => {
		// selecciona los campos de contraseña
		let ps = document.querySelectorAll('#usermod > input[type="password"]')
		// cada vez que cambie uno de ellos...
		ps[0].oninput = ps[0].onchange = ps[1].oninput = ps[1].onchange = () => {
			// dice que si no son iguales, el segundo no es válido
			ps[1].setCustomValidity(ps[0].value === ps[1].value ? 
					"" : "Ambas contraseñas tienen que coincidir");
		}
	});

</script>	

</body>
</html>
