<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head :: header"/>
	<title>RPC - Estudiante</title>
	<style>
		table, tr, td {
			background-color: rgba(255, 255, 255, 0.75);
			border-collapse: collapse;
			padding: 7px;
		}
	</style>
</head>
<body onload="fillRankings()">
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
	<div class="main">		
		
		<nav style="background-color: rgba(255, 255, 255, 0.75);">

			<h1 style="margin-left:25px;margin-right:25px;">Clasificación</h1><div th:if="${session.u}">		
				
		</div>
	
		</nav>

		<div th:if="(${session.u.id} eq ${user.id}) or ${user.hasRole('ADMIN')}" class="container">

			<div th:if="${classList}" style="flex:0 1 auto;" class="scroll">		
				<form style="margin:5px" th:each="c: ${classList}" 
						th:action="@{/admin/{id}/rankings/{classId}(id=${session.u.id},classId=${c.id})}">
					<button type="submit" th:text="${c.name}">Clase</button>
  				</form>					
			</div>

			<div th:if="${contestList} AND ${stClass}" style="flex:0 1 auto;" class="scroll">	

				<form style="margin:5px" th:action="@{/user/{id}/rankings/{classId}(id=${session.u.id},classId=${stClass.id})}">
					<button type="submit">Global</button>
  				</form>	

				<form style="margin:5px" th:each="c: ${contestList}" 
						th:action="@{/user/{id}/rankings/{classId}/{contestId}(id=${session.u.id},classId=${stClass.id},contestId=${c.id})}">
					<button type="submit" th:text="${c.name}">Concurso</button>
  				</form>					
			</div>

			<div th:if="${rankingUser} AND ${positionUser}" style="flex:1;text-align: center" class="scroll"> 

				<h2 style="margin-bottom:10px;">Ranking de estudiantes</h2>

				<div style="display: inline-block">
					<table>
						<tr th:each="ru, iStatR : ${rankingUser}">
							<td><img height="64" width="64" th:src="@{/user/{id}/photo(id=${ru.id})}"></td>
							<td th:text="${positionUser[iStatR.index]}"></td>
							<td th:text="${ru.username}"></td>
							<td> - </td>
							<td th:text="${ru.elo}"></td>
						</tr>
					</table>
				</div>

			</div>

			<div th:if="${rankingTeam} AND ${positionTeam}" style="flex:1;text-align: center" class="scroll"> 

				<h2 style="margin-bottom:10px;">Ranking de equipos</h2>

				<div style="display: inline-block">
					<table>
						<tr th:each="rt, iStatR : ${rankingTeam}">
							<td><img height="64" width="64" th:src="@{/user/team/{teamId}/photo(teamId=${rt.id})}"></td>
							<td th:text="${positionTeam[iStatR.index]}"></td>
							<td th:text="${rt.teamName}"></td>
							<td> - </td>
							<td th:text="${rt.elo}"></td>
						</tr>
					</table>
				</div>

			</div>

		</div>

	</div>
	</div>
	
	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>
	
<script>
</script>	

</body>
</html>
