<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head :: header"/>
	<title>RPC - Estudiante</title>
	<style>
	</style>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
	<div class="main">		
		
		<nav>

			<h1 style="margin-left:25px;margin-right:25px;" th:text="${team.teamName}"></h1>

			<img height="72" width="72"  th:src="@{/user/team/{teamId}/photo(teamId=${team.id})}">

			<form th:action="@{/user/{id}/team/{teamId}/photo(id=${user.id},teamId=${team.id})}" method="POST" enctype="multipart/form-data">
				Nueva foto <input type="file" name="photo"/>
				<button type="submit">Actualizar</button>
			</form>
	
		</nav>

		<div th:if="(${session.u.id} eq ${user.id}) or ${user.hasRole('ADMIN')}" class="container">

			<div style="flex:0 1 auto;" class="scroll"> 

				<h3 style="text-align:center;margin-bottom:15px">Miembros del equipo</h3>
				<table th:if="${members}" class="adminTable">
					<tr th:each="m, iStatM : ${members}">
						<td th:text="${iStatM.index + 1} + '. ' + ${m.username} + ' - '  +${m.elo}" + ></td>
					</tr>
				</table>

			</div>

			<div style="flex:0 1 auto;" class="scroll"> 

				<h3 h3 style="text-align:center;margin-bottom:15px">Logros</h3>

				<div th:if="${achievements}" style="padding:10px" th:each="a: ${achievements}">
					<span style="display: block;" th:text="'Objetivo: ' + ${a.currentObjective()}">Objetivo</span>
					<span style="display: block;" th:text="'Nivel: ' + ${a.level}">Nivel</span>
					<span style="display: block;" th:text="'Progreso: ' + ${a.progress} + '/' + ${a.currentLevel()}">Progreso</span>
				</div>

			</div>

			<div style="flex:0 1 auto;" class="scroll"> 

				<h3 h3 style="text-align:center;margin-bottom:15px">Trofeos</h3>

				<div th:if="${team}" style="padding:10px"  class="container">
					<img class="gold"></img>
					<h3 style="margin-left:10px;margin-right:10px" th:text="${team.gold}">T.oro</h3>
					<img class="silver"></img>
					<h3 style="margin-left:10px;margin-right:10px" th:text="${team.silver}">T.plata</h3>
					<img class="bronze"></img>
					<h3 style="margin-left:10px;margin-right:10px" th:text="${team.bronze}">T.bronce</h3>
				</div>

			</div>

		</div>
	
		<footer th:replace="fragments/footer.html :: footer">
			Footer goes here
		</footer>

	</div>
	</div>
	
<script>
</script>	

</body>
</html>
