<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Perfil</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div id="books" class="border border-2 border-primary rounded">
            <label for="isbn">ISBN</label><input id="isbn" value="9780140328721" />
            <button id="fetchBook">Buscar datos online</button>
            <img class="preview" id="portada" alt="portada del libro" />
            <form th:action="@{/user/__${user.id}__/pic}">
                <button id="postPortada" class="perfilable">Usar como foto de perfil</button>
            </form>
        </div>
        <div id="movies" class="border border-2 border-secondary rounded">
            <label for="imdb">IMDB</label><input id="imdb" value="tt11286314" />
            <button id="fetchMovie">Buscar datos online</button>
            <img class="preview" id="poster" alt="poster de la pelicula" />
            <form th:action="@{/user/__${user.id}__/pic}">
                <button id="postPoster" class="perfilable">Usar como foto de perfil</button>
            </form>
        </div>
        <div id="profile" class="border border-2 border-tertiary rounded">
            <input type="file" id="f_avatar" accept="image/jpeg,image/png">
            <img class="preview" id="avatar" alt="careto a subir" />
            <form th:action="@{/user/__${user.id}__/pic}">
                <button id="postAvatar">Usar como foto de perfil</button>
            </form>
        </div>

        <div class="container">
            <h1 class="mt-5">Perfil de <span th:text="${user.username}">Paco</span></h1>
            <!-- recepción de mensajes -->
            <div class="py-5 row" id="mensajes">
            </div>
            <!-- envío de mensajes -->
            <div class="py-5 row ">
                <form th:action="@{/user/__${user.id}__/msg}" method="POST">
                    <input type="text" id="message" placeholder="escribe a este usuario" />
                    <button id="sendmsg" class="btn btn-secondary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>