credentials.json
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Base de datos H2
iwdb*
  
# Datos de usuario
iwdata*

# Credenciales
credentials.json

# Maven
target/

# Entornos virtuales
deploy/
venv/
karate-config.js
src/test/java/karate-config.js

#logs
logs/
iw.log

#MacOS
.DS_Store
