/* 
 * simple css layout
 * - wrapping flexbox for nav
 * - flexbox trick from https://stackoverflow.com/a/20352949/15472 
 *   to keep footer in its place
 * - a grid for the content div and sidebar
 */
 
html, body{ 
	height:100%; 
	margin:0; 
	background-image: url(../img/background.jpg);
}
body {
	min-height:100%; 
	display: flex;
	flex-direction: column;
}

/* setup nav & children */
nav {	
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
nav>*{
	margin: 5px;
}
.sitename {
	font-size: 240%;
	font-weight: bold;
}
.logo {
	background-image: url(../img/crown.png);
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
	width: 64px;
	height: 64px;
}
.gold {
	background-image: url(../img/gold.png);
	width: 57px;
	height: 57px;
}
.silver {
	background-image: url(../img/silver.png);
	width: 57px;
	height: 57px;
}
.bronze {
	background-image: url(../img/bronze.png);
	width: 57px;
	height: 57px;
}
.teamwork {
	width: 65%;
	background-image: url(../img/teamwork.jpg);
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
	margin: 50px
}
.home_box {
	flex: 35%;
	margin: 50px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.75);
}
.logx {
	margin-left: auto;
}
.logx form, .logx img {
	display: inline;
}
.droptarget {
	width: 175px; 
	height: 15px;
	padding: 5px;
	border: 1px solid #aaaaaa;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
	vertical-align: middle;
	cursor: move;
}
.contestBox {
	padding: 10px;
	border: 1px solid #aaaaaa;
}

/* setup main container */
div.container {
    min-height: 0px;
	display: flex;
	flex:1;"
	flex-wrap: wrap;
}
div.main {
	height:100%; 
    min-height: 0px;
	width:100%; 
	flex: auto;
	display: flex;
	flex-direction: column;
}
div.sidebar {
	flex: none;
}
div.content {
	border: 1px solid #aaaaaa;
	padding:10px;
	display: block;
}
div.assetBox {
	float: left; 
	display: block;
	padding: 20px;
	border: 1px solid #aaaaaa;
	vertical-align: middle;
	overflow:scroll;
}
div.scroll { 
    padding:20px;
    margin: 20px;
    min-height: 0px;
    overflow-x: hidden; 
    overflow-y: hidden; 
	overflow: auto;
    text-align:justify; 
    flex: 1;
	border: 1px solid #aaaaaa;
	background-color: rgba(255, 255, 255, 0.75);
}
div.team { 
	width: 225px; 
	height: 150px;
	margin: 5px;
	padding: 5px;
	border: 1px solid #aaaaaa;
	background-color: rgba(255, 255, 255, 0.75);
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify; 
	overflow: auto;
}

/* setup footer */
footer {
  margin-top:auto; 
}
footer img {
	vertical-align: middle;
}

/* for compact forms */
.smallform input {
	display: block;
}

/* to highlight debug elements */
.debug {
	padding: 5px;
	border: 1px dashed red;
}
nav div.debug {
	display: inline;
}

.userthumb {
	width: 32px;
	height: 32px;
}

/* for error debugging */
.errKey {
	display: block;
	width: 10em;
}
.errTable {
	word-break: break-word;
	border-collapse: collapse;
}
.errTable td {
	border: 1px solid gray;
}
.errTable tr>td:first-child {
	background-color: #dddddd;
	min-width: 5em;
}
.errTable div {
	border: none;
	margin: 0;
	padding: 0;
}
