<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Footer fragment - rest is empty</title>
</head>

<body>
    <!-- ver https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/ -->
    <footer th:fragment="footer" class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Aplicación de plantilla de IW 2024-25. Accede a la última versión (y propón mejoras, es
            <a href="https://www.apache.org/licenses/LICENSE-2.0" />código abierto</a>) en el
            <a href="https://github.com/manuel-freire/iw/blob/main/plantilla">repositorio oficial</a>.</span>
        </div>
        <!-- Bootstrap -->
        <script th:src="@{/js/bootstrap.bundle-5.3.3.js}" src="js/bootstrap.bundle-5.3.3.js"></script>

        <!-- Websockets -->
        <script th:src="@{/js/stomp.js}" src="js/stomp.js"></script>
        <script th:src="@{/js/iw.js}" src="js/iw.js"></script>

        <!-- Otros scripts de interacción, aquí -->
    </footer>
</body>

</html>