<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IW 2024-25</title>
    <th:block th:fragment="header">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" th:href="@{/css/bootstrap-5.3.3.css}" href="css/bootstrap-5.3.3.css" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
        <link rel="icon" th:href="@{/img/favicon.ico}" href="/img/favicon.ico" type="image/x-icon">
        <script type="text/javascript">
            const config = {
                socketUrl: "[[${ws}?:'']]", // empty is false, will result in no WS being opened
                rootUrl: "[[${url}?:'']]",
                csrf: {
                    name: "[[${_csrf.parameterName}]]",
                    value: "[[${_csrf.token}]]"
                },
                admin: "[[${u != null && u.hasRole('ADMIN')} ? true : false]]",
                userId: +"[[${u != null} ? ${u.id} : -1]]"
            };
            config.admin = config.admin == "true"; // ensure boolean
        </script>
    </th:block>
</head>

<body>
    Head fragment - rest intentionally left empty.
</body>

</html>