{
    "target": "vmXXX.swarm.tes -- find in your mailt",
    "target_user": "vmXXX -- find in your mail",
    "target_pass": " -- find in your mail",
    "jumphost":  "containers.fdi.ucm.es",
    "jumphost_user": "hop",
    "jumphost_pass": "-- find in lecture slides"
}
