<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <th:block th:replace="~{fragments/head :: header}" />
    <title th:text="#{about.pageTitle}"></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5" th:text="#{about.title}"></h1>

            <p th:text="#{about.description}"></p>

            <p th:text="#{about.authorsIntro}"></p>

            <a th:href="@{/authors}" th:text="#{about.authorsLink}"></a>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>
