<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <th:block th:replace="~{fragments/head :: header}" />
    <title th:text="#{favorites.pageTitle}"></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container my-5">

            <!-- Título la vista -->
            <h1 class="text-center mb-4" th:text="#{favorites.title}"></h1>

            <!-- Lista de las canciones favoritas -->
            <div class="card mb-2 shadow-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col text-center">
                            <strong th:text="#{favorites.song1}"></strong>
                        </div>
                        <div class="col d-flex justify-content-end gap-2">
                            <button class="btn btn-outline-info" th:text="#{favorites.prev}"></button>
                            <button class="btn btn-primary" th:text="#{favorites.play}"></button>
                            <button class="btn btn-outline-info" th:text="#{favorites.next}"></button>
                        </div>
                    </div>
                </div>
             </div>

             <div class="card mb-2 shadow-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col text-center">
                            <strong th:text="#{favorites.song2}"></strong>
                        </div>
                        <div class="col d-flex justify-content-end gap-2">
                            <button class="btn btn-outline-info" th:text="#{favorites.prev}"></button>
                            <button class="btn btn-primary" th:text="#{favorites.play}"></button>
                            <button class="btn btn-outline-info" th:text="#{favorites.next}"></button>
                        </div>
                    </div>
                </div>
             </div>

             <div class="card mb-2 shadow-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col text-center">
                            <strong th:text="#{favorites.song3}"></strong>
                        </div>
                        <div class="col d-flex justify-content-end gap-2">
                            <button class="btn btn-outline-info" th:text="#{favorites.prev}"></button>
                            <button class="btn btn-primary" th:text="#{favorites.play}"></button>
                            <button class="btn btn-outline-info" th:text="#{favorites.next}"></button>
                        </div>
                    </div>
                </div>
             </div>

             <div class="card mb-2 shadow-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col text-center">
                            <strong th:text="#{favorites.more}"></strong>
                        </div>
                    </div>
                </div>
             </div>

        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>
