<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>EatAway - Registro</title>
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/nav.html :: nav"></header>
        <main class="flex-shrink-0">
            <p th:text="${usuario.firstName}"></p>
            <p th:text="${usuario.lastName}"></p>
            <p th:text="${usuario.username}"></p>
        </main>
        <th:block th:replace="fragments/footer.html :: footer"/>
    </body>
</html>