<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" th:data-lobby-code="${lobbyCode}">

<head>
    <meta charset="UTF-8" />
    <th:block th:replace="~{fragments/head :: header}" />
    <title th:text="#{gartic.pageTitle}"></title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" th:href="@{/css/components/pianoRoll.css}" href="/css/components/pianoRoll.css">
</head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/nav.html :: nav}"></header>

<main class="flex-shrink-0">
    <div class="container my-5 text-center">

        <h1 class="mb-4 d-inline-flex align-items-center gap-2">
            <i class="bi bi-music-note-beamed"></i>
            <span th:text="#{gartic.title}"></span>
        </h1>

        <form>
            <div class="row">
                <label class="col-2 col-form-label" for="tempo">Tempo</label>
                <div class="col-3">                    
                    <input class="form-control" type="number" id="tempo">
                </div>
                <label class="col-2 col-form-label" for="inst">Instrumento</label>
                <div class="col-3">                    
                    <select id="inst" class="form-select">
                        <option value="0">Piano de cola acústico</option>
                        <option value="25">Guitarra acústica (acero)</option>
                        <option value="31">aaaaaa</option>
                        <option value="33">Bajo eléctrico (finger)</option>
                        <option value="48">Conjunto de cuerdas</option>
                        <option value="56">Trompeta</option>
                        <option value="73">Flauta</option>
                        <option value="52">Coro (voces “aahs”)</option>
                        <option value="81">Sintetizador lead (diente de sierra)</option>
                        <option value="89">Pad de sintetizador (cálido)</option>
                    </select>
                </div>
                <div class="col-2">
                    <button type="button" id="btnForm" class="btn btn-primary float-end">OK</button>
                </div>
            </div>
            
            
            
        </form>
        <div id="pianoRoll" class="h-scroll">

        </div>

        <button id="loop" type="button" class="btn btn-primary" title="Loop">
            <i class="bi bi-arrow-repeat"></i>
        </button>
        <button id="play" type="button" class="btn btn-primary" title="Play">
            <i class="bi bi-play-fill"></i>
        </button>
        <button id="stop" type="button" class="btn btn-primary" title="Stop">
            <i class="bi bi-stop-fill"></i>
        </button>

    </div>
</main>

<th:block th:replace="~{fragments/footer.html :: footer}" />
</body>
<script th:src="@{/js/abcjs-basic.js}" src="/js/abcjs-basic-min.js" ></script>
<script th:src="@{/js/components/pianoRoll.js}" src="/js/components/pianoRoll.js" defer></script>
</html>
