<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" th:data-lobby-code="${lobbyCode}">

<head>
    <meta charset="UTF-8" />
    <th:block th:replace="~{fragments/head :: header}" />
    <title th:text="#{gartic.pageTitle}"></title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" th:href="@{/css/components/pianoRoll.css}" href="/css/components/pianoRoll.css">
</head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/nav.html :: nav}"></header>

<main class="flex-shrink-0">
    <div class="container my-5 text-center">

        <h1 class="mb-4 d-inline-flex align-items-center gap-2">
            <i class="bi bi-music-note-beamed"></i>
            <span th:text="#{gartic.title}"></span>
        </h1>

    
        <div id="pianoRoll" class="h-scroll">

        </div>
        <div class="my-3">
            <input id="progress" type="range">
            <div>
            <button id="loop" type="button" class="btn btn-secondary" title="Loop">
                <i class="bi bi-arrow-repeat"></i>
            </button>
            <button id="play" type="button" class="btn btn-primary" title="Play">
                <i class="bi bi-play-fill"></i>
            </button>
            <button id="pause" type="button" class="btn btn-primary" title="Pause">
                <i class="bi bi-pause-fill"></i>
            </button>
            <button id="stop" type="button" class="btn btn-primary" title="Stop">
                <i class="bi bi-stop-fill"></i>
            </button></div>
        </div>
        <div th:if="${finished == false}">
            <button type="button" id="tmpSaveButton" class="btn btn-primary">
                Enviar
            </button>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="exampleModalBody" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{fragments/footer.html :: footer}" />
</body>
<script th:src="@{/js/abcjs-basic.js}" src="/js/abcjs-basic-min.js" ></script>
<script th:src="@{/js/components/piano-roll.js}" src="/js/components/piano-roll.js" defer></script>
<script th:src="@{/js/components/game-screen.js}" src="/js/components/game-screen.js" defer></script>
<script type="text/javascript">
    const gameModel ={
        currentRound: parseInt("[[${currentRound}?:'0']]"),
        totalRounds: parseInt("[[${totalRounds}?:'0']]"),
        finished: ("[[${finished}?:'false']]" === "true")
    }
</script>
</html>
