<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>EatAway</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h3 class="mt-5">Categorías@</h1>
            <div class="list-group list-group-horizontal">
                <a class="list-group-item border-0">
                    <img href="#" src="/img/logo.png">
                </a>
                <a class="list-group-item border-0">
                    <img href="#" src="/img/logo.png">
                </a>
            </div>
        </h3>
        <div class="container">
            <h3>Restaurantes</h3>
            <div class="card-group">
                <a class="card mx-2 rounded" href="#">
                    <img src="/img/default-pic.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </a>
                <a class="card mx-2 border-start rounded" href="#">
                    <img src="/img/default-pic.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>