<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Platos</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <h3 class="text-center">Pollo Crujiente</h3>
            <div class="card-group col-8">
                <a class="card mx-1 rounded" href="#">
                    <img src="/img/hamburguesa.jpg" class="card-img-top" alt="..." href="{/]" width="1000" height="400" >
                </a>
                <h4 class="Ingredientes mt-3">Pollo crujiente, salsa BBQ chipotle sobre tomate, lechuga, pepinillo y salsa baconesa en pan brioche tostado</h4>
                <h6>Precio: 14,95 € </h6>
            </div> 
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-4">
                <input class="form-control" list="datalistOptions" id="guarnición" placeholder="Elige tu guarnición">
                <datalist id="datalistOptions">
                    <option value="Patatas fritas">
                    <option value="Patatas Gajo">
                    <option value="Ketchup">
                    <option value="Mayonesa">
                </datalist>
            </div>  
      
            <div class="col-3">
                <input class="form-control" list="datalistOptions" id="punto-carne" placeholder="Elige el punto de la carne">
                <datalist id="datalistOptions">
                    <option value="Poco hecha">
                    <option value="Hecha">
                    <option value="Muy hecha">
                </datalist>
            </div>
        </div>     
        <div class="row justify-content-center mb-3">
            <div class="col-4">
                <div class="input-group">
                    <span class="input-group-text">Número de platos</span>
                    <input class="border border-disabled rounded-end" id="Plato" type="number" name="Plato" value="1">
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-success">Añadir al pedido</button>
            </div> 
        </div>
    </div>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>