<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Platos</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <div class="container">
        <h3 align="center">Plato realizado por: Restaurante</h3>
        <div class="card-group">
            <a class="card mx-1 rounded" href="#">
                <img src="/img/hamburguesa.jpg" class="card-img-top" alt="..." href="{/]" width="1000" height="400" >
            </a>
            <h4 class="Ingredientes">Ingredientes: Pollo crujiente, salsa BBQ chipotle sobre tomate, lechuga, pepinillo y salsa baconesa en pan brioche tostado</h4>
            <h4 align="left">Precio: 14,95 € </h4>
        </div> 
       <section class="">
           <select class="mt-5">
                <option selected>Elige tu guarnición a elegir</option>
                <option value="1">Patatas frias</option>
                <option value="2">Patatas Gajo</option>
                <option value="3">Ketchup</option>
                <option value="4">Mayonesa</option>
             </select>
       </section>   
      
            <select class="mt-5">
                <option selected>Elige el punto de la carne</option>
                <option value="1">Poco hecha</option>
                <option value="2">Hecha</option>
                <option value="3">Muy hecha</option>
             </select>
       
        <section class="mt-5">
            <label for="CantidadPlato">Numero de platos:</label>
            <input id="Plato" type="Cantidad" name="Plato" value="0">
            <p align="right">
                <input style="background-color:forestgreen;" type="button" value="Añadir al Pedido">
            </p>    
        </section>
       
        

    </div>

   
</body>

</html>