<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Restaurante</title>
</head>


<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h3 class="fs-1 fst-italic fw-bold text-center" style="color:brown" th:text="${param.restaurante}"></h3>
            <div id="restaurantImages" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/restaurante1.jpg" class="d-block w-100" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/restaurante2.jpg" class="d-block w-100" alt="Second slide">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target ="#restaurantImages" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target ="#restaurantImages" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


            <h3 class="mt-5 text-center">Bebidas</h3>
                <div class="list-group list-group-horizontal">
                    <a href="#" class="list-group-item border-0">
                        <img src="/img/cocacola.jpg" width="400" height="200">
                    </a>
                    <a href="#" class="list-group-item border-0">
                        <img src="/img/sprite2.jfif" width="400" height="200">
                    </a>
                </div>
            </h3>

            <h3 class="mt-5 text-center">Principales</h1>
                <div class="list-group list-group-horizontal">
                    <a href="platos" class="list-group-item border-0">
                        <img src="/img/samosa.jpg" width="400" height="200">
                    </a>
                    <a href="platos" class="list-group-item border-0">
                        <img src="/img/tika.jpg" width="400" height="200">
                    </a>
                </div>
            </h3>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>