<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head></head>
<body>
    <span th:text="${respuesta}">Aquí lo que dice el servidor</span>
    
    <form>Intenta adivinarlo
    	<button type="submit" name="entero" value="0">0</button>
    	<button type="submit" name="entero" value="1">1</button>
    	<button type="submit" name="entero" value="2">2</button>
    	<button type="submit" name="entero" value="3">3</button>
    	<button type="submit" name="entero" value="4">4</button>
    	<button type="submit" name="entero" value="5">5</button>
    	<button type="submit" name="entero" value="6">6</button>
    	<button type="submit" name="entero" value="7">7</button>
    	<button type="submit" name="entero" value="8">8</button>
    	<button type="submit" name="entero" value="9">9</button>   
    	<button type="submit" name="entero" value="10">10</button>   
    </form>  
</body>
</html>
