:root {
  --key-h: 24px;
  --octave-h: calc(12*var(--key-h))
}

:root,
[data-bs-theme="light"] {
  --custom-key-color-active: #700070;
  --custom-key-color-hover: #A030A0;
  --custom-white-key-color-inactive: #334450;
  --custom-black-key-color-inactive: #2C3E49;
  --custom-roll-bg-color: #22282c;
}

[data-bs-theme="dark"] {
  --custom-key-color-active: #700070;
  --custom-key-color-hover: #A030A0;
  --custom-white-key-color-inactive: #334450;
  --custom-black-key-color-inactive: red;
  --custom-roll-bg-color: #22282c;
}

.note-text {
  margin: 0;
  display: inline-block;
  width: 32px;
  text-align: start;
  font-size: small;
}

.note {
  height: var(--key-h);
  width: 36px;
  min-width: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-color: var(--custom-roll-bg-color);
  border-width: 1px;
  border-style: solid;
  padding-block: 0;
}

#pianoRoll {
  background-color: var(--custom-roll-bg-color);
}

.measure-end {
  border-right-color: black;
}

.note.active {
  border-radius: calc(var(--key-h)/4);
  background-color: var(--custom-key-color-active);
}

.white-key {
  background-color: var(--custom-white-key-color-inactive)
}

.black-key {
  background-color: var(--custom-black-key-color-inactive);
}

.note:hover:not(.active) {
  border-radius: calc(var(--key-h)/4);
  background-color: var(--custom-key-color-hover);
}

.key-row {
  margin-block: 0;
  padding-block: 0;
}

.h-scroll {
  max-height: calc(2 * var(--octave-h));
  overflow-y: auto;
  overflow-x: auto;

  white-space: nowrap;
  margin-top: 2em;
}

/* #abcTextRoll, #paper {
  display: none;
}
 */
.key-row {
  display: flex;
}

.note:not(.active):not(.show-label)>.note-text {
  display: none;
}


.chat-messages {
  height: 400px;
}