
:root{
    --key-h: 24px;
    --key-color-active: #700070;
    --key-color-hover: #A030A0;
    --white-key-color-inactive: #334450;
    --black-key-color-inactive: #2C3E49;
    --bg-color: #22282c;
    --octave-h: calc(12*var(--key-h))
}

.note-text{
    margin: 0;
    display: inline-block;
    width: 32px;
    text-align: start;
    font-size: small;
}

.note {
  height: var(--key-h);
  width: 36px;
  min-width: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-color: var(--bg-color);
  border-width: 1px;
  border-style: solid;
  padding-block: 0;
}

#pianoRoll{
  background-color: var(--bg-color);
}

.measure-end{
    border-right-color: black;
}

.note.active {
  border-radius: calc(var(--key-h)/4);
  background-color: #808;
}

.white-key {
  background-color: var(--white-key-color-inactive)
}

.black-key {
  background-color: var(--black-key-color-inactive);
}

.note:hover:not(.active) {
  border-radius: calc(var(--key-h)/4);
  background-color: var(--key-color-hover);
}

.key-row {
    margin-block: 0;
    padding-block: 0;
}

.h-scroll {
  max-height: calc(2 * var(--octave-h));
  overflow-y: auto;
  overflow-x: auto;

  white-space: nowrap;
  margin-top: 2em;
}

/* #abcTextRoll, #paper {
  display: none;
}
 */
.key-row {
  display: flex;
}

.note:not(.active):not(.show-label) > .note-text {
  display: none;
}

